<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ntut.grabandgo"> <!-- for 機器人驗證 -->
    <uses-sdk android:minSdkVersion="14" />
    <!-- 兩個都是Normal Permission，不用寫程式額外跳對話框． -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Restaurant_related.LoginActivity"
            android:label="@string/login" />
        <activity
            android:name=".Restaurant_related.RecoverPasswordActivity"
            android:label="@string/forget" />
        <activity
            android:name=".Restaurant_related.RegisterActivity"
            android:label="@string/register" />
        <activity
            android:name=".Restaurant_related.RestInformationActivity"
            android:label="@string/profile" />
        <activity android:name=".NavigationDrawerSetup" />
        <activity
            android:name=".Restaurant_related.SendEmailActivity"
            android:label="@string/sendEmailTitle" />
        <activity
            android:name=".orders_daily.DailyOrdersActivity"
            android:label="@string/DailyOrders" />
        <activity
            android:name=".HistoryOrders.HistoryOrdersActivity"
            android:label="@string/historyOrdersQuery" />
        <activity
            android:name=".Financial_Analysis.FinancialRevenueActivity"
            android:label="@string/financialRevenue" />
        <activity
            android:name=".Financial_Analysis.FinancialSalesChartsActivity"
            android:label="@string/financialSalesCharts" />
        <activity
            android:name=".orders_daily.InprogressOrderDetailActivity"
            android:label="@string/inprogressOrderDetail" />
        <activity
            android:name=".orders_daily.CompletedOrderDetailActivity"
            android:label="@string/completedOrderDetail" />
        <activity
            android:name=".orders_daily.PaidOrderDetailActivity"
            android:label="@string/paidOrderDetail" />
        <activity
            android:name=".orders_daily.InprogressOrderItemSummaryActivity"
            android:label="@string/InprogressOrderItem" />
    </application>

</manifest>